body{
    margin:0;
    padding:0;
    font-family:Arial,sans-serif;
    background:linear-gradient(135deg,#ff4d6d,#ff99ac);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    text-align:center;
}

h1{
    font-size:45px;
}

h2{
    font-size:28px;
}

p{
    font-size:20px;
}
